__pycache__
.DS_Store
# Environments
.env
.env*
.venv
env/
venv/
ENV/

# Docker ignores (local data only)
**/docker-data/
**/volumes/
.docker/context/
*.tar.gz

# Node / frontend
node_modules/
dist/
.vite/